<!-- -->
<launch>
	<node pkg="data_collect" type="data_to_bag_v1" name="data_to_bag_v1_node" output="screen" clear_params="true">
		<param name="dataset_path" type="string" value="$(find data_collect)/output_test/" />
		<rosparam param="directory_names">["odometry_filtered","imu"]</rosparam>
		<rosparam param="topic_names">["/odometry_filtered","/imu/data"]</rosparam>
		<rosparam param="frame_ids">["odom","imu"]</rosparam>
		<rosparam param="data_types">["Odometry","Imu"]</rosparam>
	</node>
</launch>