<!-- -->
<launch>
	<arg name="output_dir" default="/home/oem/output_test"/>

	<!-- image -->
	<node pkg="data_collect" type="image_files_to_list" name="image_files_to_list_node" output="screen" clear_params="true">
		<param name="directory_path" type="string" value="$(arg output_dir)/image" />
	</node>

	<!-- velodyne -->
	<node pkg="data_collect" type="pcd_files_to_list" name="pcd_files_to_list_velodyne_node" output="screen" clear_params="true">
		<param name="directory_path" type="string" value="$(arg output_dir)/velodyne" />
	</node>

	<!-- radar -->
	<node pkg="data_collect" type="pcd_files_to_list" name="pcd_files_to_list_radar_node" output="screen" clear_params="true">
		<param name="directory_path" type="string" value="$(arg output_dir)/radar" />
	</node>
</launch>

