<!-- -->
<launch>


	<!-- imu -->
	<node pkg="data_collect" type="imu_single_file_saver" name="imu_saver_node" output="screen" clear_params="true">
		<param name="imu_topic" type="string" value="/zed/zed_node/imu/data" />
		<param name="output_path" type="string" value="$(find data_collect)/output_test/imu/" />
	</node>
	<!-- odometry_filtered -->
	<node pkg="data_collect" type="odometry_saver" name="odometry_saver_filtered_node" output="screen" clear_params="true">
		<param name="odometry_topic" type="string" value="/odometry/filtered" />
		<param name="output_path" type="string" value="$(find data_collect)/output_test/odometry_filtered/" />
	</node>

</launch>